body{
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', serif;
}

.container-fluid{
  margin: 0;
  padding: 0;
}

.navbar{
  background-color: rgba(0,0,0,0);
}

/****Header*****/
#header-nav{
  background-color: #6c757d;
  border-radius: 0;
  border: 0;
  margin-top: 0px;
}

h2{
  margin-bottom: 15px;
  text-align: center;
  color: #222;
  font-size: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggler{
  border: 2px solid black;
  margin-right: 25px;
}

.navbar-toggler-icon{
  background-color: white;
}

li{
  box-sizing: border-box;
  width: 100%;
}

.menu-item{
  padding: 0;
  margin: 2px solid black;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid white;
  color: white;
  display: block;
}

li > a{
  color: #d39e00;
}
.menu-item:hover{
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,0);
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 2.0em;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


/****Our Menu****/
.text-center{
    font-size: 30px;
}


.content-box{
  margin: 20px;
  width: auto;
  height: auto;
  color: black;
  background-color: #6c757d;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 20px;
}

.item-name{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.row{
  margin: 20px;
}

